__pycache__/
*.py[cod]
*egg-info
.venv
dist/*
build
.DS_Store
*-checkpoint.ipynb
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.devcontainer/.databricks-connect
.history/*
.idea/workspace.xml
deploy_prod.sh
!.gitkeep
